@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	scroll-behavior: smooth;
}

//common classes

.active {
	display: block;
}
.animation {
	bottom: 0;
}
.active-flex {
	display: flex;
}

section {
	scroll-margin-top: 0px;
}
main {
	background-color: $main-color;
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	color: $font-color;

	header {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-image: url(../img/header_new_small.jpg);
		background-size: cover;
		background-position: center;
		.mobile-menu-close,
		.mobile-menu {
			position: absolute;
			top: 10px;
			right: 10px;
			padding: 10px;
			font-size: 22px;
			color: $font-color;
			background: none;
			border: none;
			z-index: 1;
		}
		.mobile-menu-close {
			display: none;
			color: $hoover-color;
			font-size: 30px;
		}
		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
		.mobile-nav {
			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-bottom: 1px solid $font-color;
				color: $font-color;
				font-size: 36px;
				letter-spacing: 2px;
				animation: title-animation 2s forwards;
			}
			@keyframes title-animation {
				0% {
					letter-spacing: -0.5em;
					opacity: 0;
				}
				40% {
					opacity: 0.6;
				}
				100% {
					opacity: 1;
				}
			}

			.mobile {
				position: absolute;
				display: none;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				background-color: $dark-blue;
				transition: top 0.5s;

				.menu_items {
					padding: 20px 10px;
					text-decoration: none;
					color: $font-color;
					font-size: 28px;
					i {
						margin-right: 10px;
						color: $hoover-color;
					}
				}
			}
		}
		.desktop-nav {
			position: absolute;
			width: 50%;
			height: 50%;
			top: 30%;
			right: 0;

			.title {
				text-align: center;
				font-size: 60px;
				letter-spacing: 2px;
				color: $font-color;
			}

			.desktop {
				display: flex;
				justify-content: center;

				.menu_items {
					margin-top: 30px;
					margin-right: 20px;
					font-size: 36px;
					color: $font-color;
					text-decoration: none;
					transition: color 0.3s;
					i {
						margin-right: 10px;
						color: $hoover-color;
					}
				}
				.menu_items:hover {
					color: $hoover-color;
				}
			}
		}
	}

	#youtube {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100vw;
		height: 100vh;
		padding: 30px;
		border-bottom: 1px solid $hoover-color;

		h2 {
			display: none;
			text-align: center;
			margin: 20px auto;
			letter-spacing: 2px;
			font-size: 36px;
			border-bottom: 1px solid $hoover-color;
		}
		.yt-videos {
			height: 85%;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.trailer {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 80%;
				width: 100%;

				margin: auto 0;
				h2 {
					display: block;
				}
				iframe {
					width: 80%;
				}
			}
			.playlists {
				display: none;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				width: 30%;
				height: 80%;

				overflow: scroll;
				h2 {
					margin: 0 auto;
				}

				.playlist-box {
					height: 20%;
					width: 80%;

					h2 {
						font-size: 25px;
						margin-top: 10px;
					}
					iframe {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		p {
			text-align: center;
			font-size: 25px;
			margin-top: 0;
			a {
				text-decoration: none;
				color: $hoover-color;
			}
		}
	}
	#about {
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 10px;
		overflow: hidden;
		border-bottom: 1px solid $hoover-color;
		h2 {
			border-bottom: 1px solid $hoover-color;
		}
		.cards {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			height: 100%;
			width: 90%;
			.card-box {
				border: 1px solid $hoover-color;
				width: 80%;
				height: 30%;
				padding: 10px;
				border-radius: 5px;
				overflow: scroll;
				.card-img {
					width: 100%;
					height: 50%;
					background-size: cover;
					background-position: center;
					background-image: url('https://source.unsplash.com/random/200x200');
				}
				h3 {
					text-align: center;
					padding: 10px;
				}
				p {
					text-align: center;
					font-size: 10px;
				}
			}
		}
	}
	#contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		padding: 10px;
		border-bottom: 1px solid $hoover-color;
		h2 {
			border-bottom: 1px solid $hoover-color;
			margin-bottom: 10px;
		}
		.contact-boxes {
			height: 90%;
			width: 90%;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			h3 {
				letter-spacing: 2px;
				border-bottom: 1px solid $hoover-color;
				margin-bottom: 20px;
			}
			.social-media {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 100%;
				height: 50%;

				a {
					text-decoration: none;
					color: $hoover-color;
					letter-spacing: 1px;
					font-size: 18px;
					i {
						margin-right: 10px;
					}
				}
			}
			.contact-form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 50%;



				label {
					letter-spacing: 2px;
					
				}

				input,
				textarea {
					background: none;
					border: none;
					border-bottom: 1px solid $hoover-color;
					width: 100%;
				}
				textarea {
					height: 50%;
					max-height: 25%;
				}
				.send {
					padding: 5px 10px;
					color: $font-color;
					background-color: $hoover-color;
					border: none;
					border-radius: 5px;
					letter-spacing: 1px;
					cursor: pointer;
				}
			}
		}
	}

	//

	footer {
		text-align: center;
		color: white;
		background-color: #222;
		font-weight: lighter;
		letter-spacing: 2px;
		font-size: 10px;
	}
}

//MEDIA QUERIES
@media (min-width: 375px) {
	main {
		header {
			.desktop-nav {
				display: none;
			}
		}
	}
}
@media (min-width: 768px) {
	main {
		header {
			.mobile-menu-close,
			.mobile-menu {
				font-size: 50px;
			}
			.mobile-nav {
				.title {
					font-size: 68px;
				}
				.mobile {
					.menu_items {
						font-size: 56px;
						i {
							margin-right: 20px;
						}
					}
				}
			}
			.desktop-nav {
				display: none;
			}
		}
		#youtube {
			.trailer {
				h2 {
					margin-bottom: 60px;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	main {
		header {
			background-image: url(../img/header_new_big.jpg);
			.mobile-menu,
			.mobile-menu-close,
			.mobile-nav {
				display: none;
			}

			.desktop-nav {
				display: block;
			}
		}

		#youtube {
			h2 {
				display: block;
			}
			.yt-videos {
				.trailer {
					width: 50%;
				}
				.playlists {
					display: flex;
				}
			}
			p {
				margin-bottom: 20px;
			}
		}
		#about {
			.cards {
				flex-direction: row;
				.card-box {
					width: 30%;
					height: 80%;
					overflow: hidden;
				}
			}
		}
		#contact {
			h2 {
				font-size: 36px;
			}
			.contact-boxes {
				flex-direction: row;
				h3 {
					font-size: 30px;
				}
				.social-media,
				.contact-form {
					height: 80%;
					width: 50%;
				}
				.social-media {
					a {
						font-size: 28px;
					}
				}
				.contact-form {
					input,
					textarea {
						width: 50%;

					}
					textarea{
						max-width: 50%;
					}
					.send {
						width: 30%;
					}
				}
			}
		}
	}
}
